In [22]:
import pandas
dataset = pandas.read_csv('dataset.csv')
dataset

        id;nazev_cz;nazev_en;trida_cz;cena;k_prohlidce
0    7;"Šváb syčivý";"Madagascar giant cockroach ";...
1    8;"Pakobylka okřídlená";"Pink-winged stick ins...
2                    16;"Tayra";"Tayra";"Savci";5000;1
3    35;"Kajmanka supí";"Alligator snapping turtle"...
4    37;"Želva žlutočelá";"Indochinese box turtle";...
..                                                 ...
508  1417;"Rosnice šalamounská";" ";"Obojživelníci"...
509   1418;"Létavka obecná";" ";"Obojživelníci";1000;1
510              1419;"Bažant paví";" ";"Ptáci";1000;1
511      1420;"Sojkovec rezavouchý";" ";"Ptáci";1000;1
512       1421;"Kachnice kaštanová";" ";"Ptáci";1000;1

[513 rows x 1 columns]

In [39]:
print['dataset'.split(';')]
print('id;nazev_cz;nazev_en;trida_cz;cena;k_prohlidce'.split(';'))
print('dataset'.split())

TypeError: 'builtin_function_or_method' object is not subscriptable

In [24]:
dataset.shape

(513, 1)

In [25]:
dataset.columns

Index(['id;nazev_cz;nazev_en;trida_cz;cena;k_prohlidce'], dtype='object')

In [26]:
dataset.iloc[[34], 0]

34    99;"Ibis bílý";"White ibis";"Ptáci";3000;1
Name: id;nazev_cz;nazev_en;trida_cz;cena;k_prohlidce, dtype: object

In [27]:
dataset('cena')

TypeError: 'DataFrame' object is not callable

In [ ]:
dataset['id;nazev_cz;nazev_en;trida_cz;cena;k_prohlidce']

0      7;"Šváb syčivý";"Madagascar giant cockroach ";...
1      8;"Pakobylka okřídlená";"Pink-winged stick ins...
2                      16;"Tayra";"Tayra";"Savci";5000;1
3      35;"Kajmanka supí";"Alligator snapping turtle"...
4      37;"Želva žlutočelá";"Indochinese box turtle";...
                             ...
508    1417;"Rosnice šalamounská";" ";"Obojživelníci"...
509     1418;"Létavka obecná";" ";"Obojživelníci";1000;1
510                1419;"Bažant paví";" ";"Ptáci";1000;1
511        1420;"Sojkovec rezavouchý";" ";"Ptáci";1000;1
512         1421;"Kachnice kaštanová";" ";"Ptáci";1000;1
Name: id;nazev_cz;nazev_en;trida_cz;cena;k_prohlidce, Length: 513, dtype: object

In [36]:
print('id;nazev_cz;nazev_en;trida_cz;cena;k_prohlidce'.split(';'))

['id', 'nazev_cz', 'nazev_en', 'trida_cz', 'cena', 'k_prohlidce']